body{
    overflow:hidden;
    transition:.01s ease-in all;
}

#cutoff{
    width:800px;
    height:auto;
    overflow:hidden;
}

#container{
    position:relative;
    width:820px;
    height:500px;
    background:rgba(10,10,10,1);
    overflow:hidden;
}

#background{
    width:820px;
    height:auto;
    position: relative;
    left:0;
    top:0;
    z-index:5;
    overflow:hidden;
}



#background img{
    width:820px;
    height:auto;
}

#foreground img{
    width:auto;
    height:550px;
}

#foreground{
    position:absolute;
    top:0;
    left:0;
    z-index:15;
}

#center{
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

#fog{
    position:absolute;
    bottom:0;
    left:-20%;
    z-index:12;
    opacity:.6;
    -webkit-animation: fog 60s linear infinite;
    -moz-animation: fog 60s linear infinite;
    animation: fog 60s linear infinite;
}

@-webkit-keyframes fog {
    0%{left:-20%}
    100%{left:100%}
}
@-moz-keyframes fog {
    0%{left:-20%}
    100%{left:100%}
}
@keyframes fog {
    0%{left:-20%}
    100%{left:100%}
}